<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CatFace</title>
    <!-- Bootstrap -->
    <link href="static/css/stylesA.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">FB-C</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active"> <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> </li>
          <li class="nav-item"> <a class="nav-link" href="accounts/login/">Log in</a> </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> All Cats&nbsp; </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li> -->
          <!-- <li class="nav-item"> <a class="nav-link disabled" href="#">Disabled</a> </li> -->
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <header>
      <div class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="text-center">FACEBOOK FOR CATS</h1>
              <p class="text-center">Social MEOWs&nbsp;&nbsp;</p>
              <p>&nbsp;</p>
              <p class="text-center"><a class="btn btn-primary btn-lg" href="#" role="button">ABOUT&nbsp;</a> </p>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mb-4 mt-2 text-center">
            <h2>Most Voted Cats</h2>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row" id="cats-top">
          <!-- <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <img class="rounded-circle" alt="140x140" style="width: 140px; height: 140px;" src="static/images/140X140.gif" data-holder-rendered="true">
            <h3>Cat1</h3>
            <p>description of the cat 1</p>
          </div> -->
          <!-- <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <img class="rounded-circle" alt="140x140" style="width: 140px; height: 140px;" src="static/images/140X140.gif" data-holder-rendered="true">
            <h3>Cat2</h3>
            <p>description of the cat 2&nbsp;</p>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <img class="rounded-circle" alt="140x140" style="width: 140px; height: 140px;" src="static/images/140X140.gif" data-holder-rendered="true">
            <h3>Cat3</h3>
            <p>description of the cat 3</p>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <img class="rounded-circle" alt="140x140" style="width: 140px; height: 140px;" src="static/images/140X140.gif" data-holder-rendered="true">
            <h3>Cat4</h3>
            <p>description of the cat 4&nbsp; &nbsp;</p>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <img class="rounded-circle" alt="140x140" style="width: 140px; height: 140px;" src="static/images/140X140.gif" data-holder-rendered="true">
            <h3>Cat5</h3>
            <p>description of the cat 5&nbsp; &nbsp;</p>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <img class="rounded-circle" alt="140x140" style="width: 140px; height: 140px;" src="static/images/140X140.gif" data-holder-rendered="true">
            <h3>Cat6</h3>
            <p>description of the cat 6&nbsp;</p>
          </div> -->
        </div>
        <!-- <div class="row">
          <div class="col-sm-12 mt-4 mb-2 text-center">
            <h2>Last Posts&nbsp;</h2>
          </div>
        </div> -->
        <!-- <div class="row">
          <div class="col-sm-6 col-lg-6">
            <blockquote class="blockquote">
              <p class="mb-0">Post 1</p>
              <small class="blockquote-footer">Cat<br>
              </small>
            </blockquote>
          </div>
          <div class="col-sm-6 col-lg-6">
            <blockquote class="blockquote">
              <p class="mb-0">Post 2</p>
              <small class="blockquote-footer">Cat<br>
              </small>
            </blockquote>
          </div>
          <div class="col-sm-6 col-lg-6">
            <blockquote class="blockquote">
              <p class="mb-0">Post 3&nbsp;&nbsp;</p>
              <small class="blockquote-footer">cat&nbsp; </small>
            </blockquote>
          </div>
          <div class="col-sm-6 col-lg-6">
            <blockquote class="blockquote">
              <p class="mb-0">Post 4</p>
              <small class="blockquote-footer">cat 4&nbsp;<br>
              </small>
            </blockquote>
          </div>
        </div> -->
      </div>
      <div class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="text-center col-md-8 col-12 mx-auto">
              <p class="lead">You can log in a new cat here!</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-auto mx-auto"> <a class="btn btn-block btn-lg btn-success" href="#" title="">Sign up now!</a> </div>
          </div>
        </div>
      </div>

    </section>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-8 mx-auto">
          <div class="jumbotron">
            <div class="row text-center">
              <div class="text-center col-12">
                <h2>Request a free quote</h2>
              </div>
              <div class="text-center col-12">
                <!-- CONTACT FORM https://github.com/jonmbake/bootstrap3-contact-form -->
                <form id="feedbackForm" class="text-center">

                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" aria-describedby="nameHelp">
                    <span id="nameHelp" class="form-text text-muted" style="display: none;">Please enter your name.</span>
                  </div>

                  <div class="form-group">
                    <label for="name">Age</label>
                    <input type="text" class="form-control" id="age" name="age" placeholder="Age" aria-describedby="ageHelp">
                    <span id="ageHelp" class="form-text text-muted" style="display: none;">Please enter your age.</span>
                  </div>

                  <div class="form-group">
                    <label for="picture">Profile Picture</label>
                    <input type="picture" class="form-control" id="picture" name="picture" placeholder="Picture" aria-describedby="pictureHelp">
                    <span id="pictureHelp" class="form-text text-muted" style="display: none;">Please enter a valid link to your picture.</span>
                  </div>

                  <div class="form-group">
                    <label for="message">My info</label>
                    <textarea rows="10" cols="100" class="form-control" id="message" name="message" placeholder="Message" aria-describedby="messageHelp"></textarea>
                    <span id="messageHelp" class="form-text text-muted" style="display: none;">Please enter a message.</span>
                  </div>

                  <button type="submit" id="feedbackSubmit" class="btn btn-primary btn-lg"> Send</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p>Copyright © FaceCat. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="static/scripts/js/jquery-3.3.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/scripts/js/popper.min.js"></script>
    <script src="static/scripts/js/bootstrap-4.3.1.js"></script>
    <script src="static/scripts/main.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
  </body>
</html>
