{% extends "catface/base0.html" %}

{% block content %}
  <h2>Sign up</h2>
  <form method="POST" action='/signup/'>
    {% csrf_token %}
    <!-- {{ form.as_p }} -->
    {% for field in form %}
      <div class="form-group">
        {{ field.label_tag }}<br>
        {{ field }}
        <!-- {% if field.help_text %}
          <small style="color: grey" >{{ field.help_text }}</small>
        {% endif %} -->
        <!-- {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %} -->
      </div>
      {% for e in field.errors %}
        <div class="form-group">
          <p style="color: red">{{ error }}</p>
        </div>
      {% endfor %}
    {% endfor %}


    <button type="submit">Sign up</button>
  </form>
{% endblock %}
